.mainBody{
    text-align: center;
}

.mainBody h1{
    color: rgb(94, 93, 93);
}

.startButton{
    border-radius: 10px;
    background-color: rgb(255, 235, 14);
    height: 40px;
    width: 10%;
}

.startButton:hover{
    cursor: pointer;
}